/*
Theme Name:         Stratus
Theme URI:          http://themovation.com/stratus
Author:             Themovation
Author URI:         http://themovation.com
Description:        Stratus is a premium WordPress theme based on Bootstrap 3.
Version:            1.1.1
Tags: 				two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
License:            Regular License
License URI:        http://themeforest.net/licenses/regular
*/


.tomdow {color: red;
background-color: red;
padding-left: 100px;}